{% extends "header.html" %}

{% block app_content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-file-upload"></i> Manage student uploads</h1>
    </div>
  </div>
  <hr>
  <br />

  <div class="container">

    <div class="row text-center">
      <div class="col">
        <div class="counter">
          <i class="fa fa-file-upload fa-2x"></i>
          <h2 class="timer count-title count-number">{{template_packages['total_upload_count']}}</h2>
          <p class="count-text ">Total uploads</p>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <i class="fa fa-tasks fa-2x"></i>
          <h2 class="timer count-title count-number">{{template_packages['total_assignments']|length}}</h2>
          <p class="count-text ">Assignments</p>
        </div>
      </div>

    </div>

    <br>
  

    <link rel="stylesheet" href="/static/css/form-control-borderless.css">
    <div class="row justify-content-left">
      <div class="col-12 col-md-10 col-lg-8 mb-3">
        <form class="card">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body">
              </i>
            </div>
            <!--end of col-->
            <div class="col">
              <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search"
                placeholder="Search for files">
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->


    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table summary="Users have uploaded the following files:" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>User</th>
                  <th>Uploaded</th>
                  <th>Assignment</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="searchableTable">
                {% for upload, user, assignment in template_packages['uploads_object'] %}
                <tr>
                  <td>{{ upload.original_filename|truncate(30)}}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ upload.timestamp.strftime('%b-%d %H:%M:%S')}}</td>
                  <td>{{ assignment.title }}</td>
                  <td>
                    <a href="{{url_for('files.download', file_id = upload.id, rename=True)}}"
                      class="btn btn-primary btn-sm"><i class="fa fa-file-download"></i> Download</a>
                    <a href="{{url_for('files.delete_file', upload_id = upload.id)}}" class="btn btn-warning btn-sm"><i
                        class="fa fa-trash-alt"></i> Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                </tr>
              </tfoot>
            </table>
          </div>
          <!--end of .table-responsive-->
        </div>
      </div>
    </div>
    </body>

  </div>
  {% endblock %}