{% extends "header.html" %}


{% block app_content %}
<div class="container">

  <div class="col-12 col-lg-2 mb-3">
    {% if display_back_button == True %}
    <a href="{{url_for('assignments.view_assignment_details', assignment_id = assignment_info.id)}}"><button
        class="btn btn-lg btn-light">
        <i class="fa fa-chevron-left">
        </i> Back
      </button>
    </a>
    {% endif %}
  </div>

  <div class="container">

    <div class="card bg-light mb-3" style="max-width: 50rem;">
      <div class="card-body">
        <h1>{{title}}</h1>
        <hr>
        {% if user_info %}
        <h4><i class="fa fa-tasks"></i> {{assignment_info.title}}</h4>
        <h4><i class="fa fa-user"></i> {{class_info.turma_label}}</h4>
        <br>
        <h4><i class="fa fa-id-badge"></i> {{user_info.student_number}} - {{user_info.username}}</h4>
        <hr>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          {{ form|safe }}
          <br>
        </form>

      </div>
    </div>


  </div>
  {% endblock %}
